.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 120px 40px;
  gap: 1rem;
}

.sidebar {
  width: 40%;
  max-width: 40px;
  background-color: var(--foreground);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 650px) {
  .main {
    flex-direction: row;
  }
  .content {
    width: 70%;
    padding: 80px 20px;
  }
  .sidebar {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .content {
    width: 90%;
    padding: 48px 12px;
  }
  .sidebar {
    width: 10%;
  }
}

.task {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  margin: 0 -8px 0 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.deleteButton {
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  background: none;
  font-size: .6rem;

}

.editButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 0.5rem;
  font-size: 1rem;

}
